{% extends 'base.html' %}
{% block title %} People {% endblock %}

{% block content %}
    <form action="" method="post" class="people-form">
        <p class="alert-message">{{message}}</p>
        <h1>Sign in</h1>
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{{url_for('people.create')}}">You don´t have an account?</a>
    </form>
{% endblock %}