{% extends 'base.html' %}
{% block title %} To dos {% endblock %}

{% block content %}
    <header class="todos-header">
        <nav class="todos-nav">
                <div class="logo">
                    <a href="{{url_for('todos.index')}}" class="nav-link">
                        <img src="../../../../img/to-do-list.png" alt="Todo logo" class="img-logo">
                    </a>
                    <h1>Hello, {{current_user.name}} {{current_user.lastName}}</h1> 
                </div>
            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#editModal">Create list</a></li>
                <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#taskModal">Create task</a></li>
                <li class="nav-item switch">
                    <a class="toggle-theme" id="darkModeToggle" role="button">
                        <i class="fas mb-2 mr-1 fa-moon theme-icon"></i>
                    </a>
                <li class="nav-item"><a href="{{url_for('people.logout')}}" class="nav-link">Log out</a></li>
                <li class="nav-item"><a href="#" class="nav-link">
                    <div class="user_container">{{current_user.name[0]}}</div>
                </a></li>
            </ul>
        </nav>
    </header>

    <div class="main-wrapper">
            {% for topic in topics%}
                <div class="todo__container" id="todo-list">
                    <div class="topic__container">
                        <input type="text" name="topic" class="list-input topic-input" value="{{topic.name}}" id="topic-name-{{topic.topId}}" onchange="update_topic({{topic.topId}}) ">
                    </div>
                    {% for todo in todos %}
                        {% if topic.topId == todo.topId %}
                            <div class="modify-form">
                                    <input type="checkbox" class="checkbox" name="done" id="done-checkbox-{{ todo.tid }}"
                                    {% if todo.done %}checked{% endif %}
                                    onchange="toggleDone({{ todo.tid }})">
                                    <input type="text" name="todo" class="list-input" value="{{todo.description}}" id="description-input-{{ todo.tid }}" onchange="update_todo({{ todo.tid }})">
                                    <button class="delete-btn" onclick="delete_todo({{todo.tid}})">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                        {% endif %}
                    {% endfor %}
                    <div class="todo-options__container">
                        <form action="{{url_for('todos.create_todo')}}" class="newTodo-form" id="newTodo-form" method="post">
                            <input type="text" placeholder="Add a new Todo!!" name="description">
                            <input type="hidden" name="topid" value="{{topic.topId}}">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>


                        <div class="todo-options">
                            <button type="button" class="btn btn-danger" onclick="del_top({{ topic.topId }})">Delete</button>
                        </div>

                    </div>
                </div>
            {% endfor %}

            {% for task in tasks %}
                <div class="task__container">
                    <div>
                        <input type="text" value="{{task.tittle}}" class="list-input topic-input" id="task-title-{{task.taskId}}" onchange="update_title({{task.taskId}})">
                    </div>
                    <div class="task-body">
                        <input type="text" value="{{task.taskContent}}" class="list-input task-input__content" id="task-content-{{task.taskId}}" onchange="update_content({{task.taskId}})">
                    </div>
                    <div class="task__footer">
                        <input type="hidden" value="{{task.taskId}}">
                        <button class="btn btn-danger" onclick="delete_task({{task.taskId}})">Delete</button>
                    </div>
                </div>
            {% endfor %}
    </div>

    <!-- Modal Create list-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">New Topic!!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{{url_for('todos.create_topic')}}" method="post">
            <div class="modal-body">
                <input type="text" placeholder="Topic name" name="name">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
     <!-- Modal Create list-->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="taskModalLabel">New Topic!!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{{url_for('todos.create_topic')}}" method="post">
            <div class="modal-body">
                <input type="text" placeholder="Topic name" name="name">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
    <script src="../../../../js/script.js"></script>
    <script src="../../../../js/darkMode.js"></script>
  
{% endblock %}