body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
}

/* PEOPLE */

h1{
    color: #333;
}

.people-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 400px;
    height: 450px;
    gap: 10px;
    margin-top: 15%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #333;
    align-items: center;
    justify-content: center;
}

.people-form input{
    width: 90%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #333;
}

.btn-primary{
    width: 90%;
    height: 40px;
    border-radius: 7px;
}

.people-form input:focus{
    outline: none;
}

.alert-message{
    color: red;
}

/* TODOS */

.todos-nav{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
    box-shadow: 0px 4px 6px #333;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo{
    display: flex;
    gap: 120px;
}

.toggle-menu{
    height: max-content;
    display: none;
}

.user_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: red;
    color: #fff;
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.3rem;
}

.img-logo{
    width: 50px;
    height: 50px;
}

.fa-moon{
    color: #000;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    gap: 10px;
}


.sidebar li{
    width: 100%;
    list-style: none;
    text-align: left; /* Añade esta propiedad para alinear el texto a la izquierda */
    padding-left: 0
}
.sidebar li a{
    width: 100%;
    color: #000;
    text-decoration: none;
    text-align: left;
}

.main-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 300px) !important;
    grid-template-rows: repeat(3, max-content) !important;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
}

.todo__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #5c5a5a;
    margin-top: 40px;
}

.check-container{
    display: flex;
    gap: 5px;
}

.checkbox{
    margin-left: 5px;
}

.checkbox:checked + input {
    text-decoration: line-through;
    color: #000;
}

.list-input {
    border: none;
    background-color: transparent;
    font-size: 17px;
}

.list-input:focus {
    border: none;
    outline: none;
}

.topic__container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.topic-input{
    font-size: 25px !important;
    text-align: center;
    border-bottom: 1px solid #333 !important;
    width: 100% !important;
}

.todo-options{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: end;
}

.todo-options i:hover {
    cursor: pointer;
}


.btn-danger{
    margin-right: 6px;
    margin-bottom: 5px;
}


.modify-form{
    display: flex;
    gap: 5px;
}

.todo-options__container{
    display: flex;
    gap: 10px;
    width: fit-content;
}

.delete-btn{
    width: max-content;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    margin-bottom: 15px;
}


.newTodo-form{
    display: flex;
    gap: 5px;
}

.newTodo-form input{
    border: 1px solid #333;
    background-color: transparent;
    font-size: 17px;
    width: 135px;
    height: 30px;
    margin-left: 5px;
}

.newTodo-form input:focus{
    outline: none;
}

.newTodo-form button{
    width: 70px !important;
    height: 30px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.todo-options button {
    width: 70px !important;
    height: 30px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.modal-body input {
    width: 100%;
}

.trash-btn{
    width: max-content;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

/* TASKS */

.task__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #5c5a5a;
    margin-top: 40px;
}

.task_title{
    width: 100%;
    border-bottom: 1px solid #333;
}

.task__body{
    width: 100%;
    border-bottom: 1px solid #333;
}

.task-input__content{
    margin-left: 5px;
    height: max-content !important;
}

.task__footer{
    width: 100%;
    display: flex;
    justify-content: end;
}

.task__footer button{
    width: 70px !important;
    height: 30px !important;
    font-size: 17px !important;
    font-weight: bold !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* dark mode */

.todos-nav.dark-mode{
    background-color: #121212 !important;
    color: #fff !important;
    box-shadow: 0px 4px 6px #fff;
}

body.dark-mode{
    background-color: #121212 !important;
}

.todo__container.dark-mode{
    border-color: #fff;
    color: #fff !important;
}

.list-input.dark-mode{
    color: #fff !important;
}

.topic-input.dark-mode{
    border-bottom: 1px solid #fff !important;
}

.delete-btn.dark-mode{
    color: #fff;
}

.newTodo-form.dark-mode input{
    border-color: #fff;
    color: #fff;
}

.theme-icon.dark-mode{
    color: #fff;
}

.task__container.dark-mode{
    border-color: #fff;
}

.trash-btn.dark-mode{
    color: #fff;
}

/* Responsive design */

@media (max-width: 450px) {
    .people-form{
        width: 100%;
    }

    header{
        width: 100%;
    }

    .todos-nav{
        width: 100%;
        justify-content: left;
        gap: 250px;
    }

    .toggle-menu{
        display: block;
    }

    .nav-list{
        display: none;
    }

    .main-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 300px) !important;
        grid-template-rows: repeat(auto-fill, max-content) !important;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        gap: 20px;
    }

    .logo{
        padding: 10px;
    }

    h1{
        display: none;
    }

    .sidebar{
        width: 100%;
    }
}




